.offer {
  background: radial-gradient(#fff,#ffd6d6);
  margin-top: 80px 0;
  padding: 0;
}
.col-2 img {
  padding: 50px;
  /* padding-left: 140px;
  padding-right: 40px;
  flex-basis: 50%; */
}
small {
  color: #556;
  font-weight: 400;
  font-size: 14px;
}
